<div class="background">
    <div class="form-container container">
      <div class="col-sm bf-background">
          <h1 class=title>Inicio de sesion</h1>
        <form class="login-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Correo" />
  
            <input type="text" class="form-control" placeholder="Contraseña" />
  
          </div>
  
        </form>
        <div class="options-div">
          <label class="option-label">Olvido su contraseña </label>
          <label class="option-label">Crear cuenta </label>
        </div>
        <div class="form-buttons">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-outline-info" id="button-accept">Iniciar sesion</button>
            </div>
          </div>
        </div>
      
      </div>
  
     
    </div>
  </div>
  