* {
  margin: 0;
  padding: 0;
  --text-multiplier: 1.1;
  --nav-h: 0;
}
#nav-color {
  background-color: #1b264f;
  width: auto;
  height: auto;
  --nav-h: auto;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li {
  color: #f7f7ff;
  font-family: "Roboto Condensed", sans-serif bold;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  font-size: calc(1rem * var(--text-multiplier));
  padding: 1% 1% 1% 1%;
}
.linkActive {
  color: aqua;
}
a {
  text-decoration: none;
  color: #f7f7ff;
}
/* Drop down button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 1vw;
  border: none;
  cursor: pointer;
}

li:hover .dropdown-content {
  display: block;
  margin-top: var(--nav-h);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 1em;
  float: right;
  font-family: "Ubuntu Condensed", sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 1vw;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  right: 0;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #2b7a78;
  border-radius: 50%;
  display: inline-block;
  border-color: #adfffb;
  border-style: solid;
}
#cs {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Responsive */
/* @media screen and (max-width: 1000px) and (min-width: 271px) {
  * {
    margin: 0;
    padding: 0;
    --text-multiplier: 0.5;
  }
} */
@media screen and (max-width: 450px) and (min-width: 271px) {
  * {
    margin: 0;
    padding: 0;
    --text-multiplier: 0.5;
  }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
  * {
    margin: 0;
    padding: 0;
    --text-multiplier: 0.9;
  }
}