<nav id="nav-color">
  <div>
    <!-- <div *ngIf="user; else notUser"> -->
      <ul *ngIf="logged; else notUser">
       
        <li><a routerLink="../../main" [routerLinkActive]="['linkActive']">Inicio</a></li>
        <li><a routerLink="/download/all-resource" [routerLinkActive]="['linkActive']"> Descubre</a></li>
        <li><a routerLink="/download/saved-resource" [routerLinkActive]="['linkActive']">Tus descargas</a></li>
        <li [routerLinkActive]="['linkActive']">
          <a routerLink="/download/my-resource" [routerLinkActive]="['linkActive']">Tus recursos</a>
          <div class="dropdown-content" [routerLinkActive]="['linkActive']">
            <a routerLink="/download/upload-resource" [routerLinkActive]="['linkActive']">Subir un recurso</a>
            <a routerLink="/download/my-resource" [routerLinkActive]="['linkActive']">Mis recursos</a>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dot">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                />
              </svg>
            </button>
            <div class="dropdown-content">
              <a routerLink="/user/profile-user">Tu perfil</a>
              <a routerLink="/download/my-resource">Recursos subidos</a>
              <a routerLink="/download/saved-resource">Descargas</a>
         
              <div class="dropdown-divider"></div>
              <a> <button id="cs" (click)="logout()">Cerrar sesion</button></a>
            </div>
          </div>
        </li>
      </ul>
    <!-- </div> -->

    <!-- Not logged -->
    <ng-template #notUser>
      <ul>

        <li><a routerLink="../../main" [routerLinkActive]="['linkActive']">Inicio</a></li>

        <li><a routerLink="/download/all-resource" [routerLinkActive]="['linkActive']"> Descubre</a></li>
        <li><a routerLink="/user/login" [routerLinkActive]="['linkActive']">Iniciar sesion </a></li>

   
        <li></li>
      </ul>
    </ng-template>
  </div>
</nav>
