<div class="background">
    <div class="form-container">
      <div class="bf-main-background">
      <div class="col-sm bf-background">
          <h1 class=title>Reinicio de contraseña</h1>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nueva contraseña" />
  
            <input type="text" class="form-control" placeholder="Confirmación de nueva contraseña" />
  
          </div>
  
        </form>
        <div class="container form-buttons">
            <div class="row">
              <div class="col-sm">
                <button type="button" class="btn btn-outline-danger" id="button-cancel">Cancelar</button>
              </div>
         
              <div class="col-sm">
                <button type="button" class="btn btn-outline-info" id="button-accept">Aceptar</button>
              </div>
            </div>
          </div>

      
      </div>
  
      </div>
    </div>
  </div>
  