<div class="background">
  <div class="form-container ">
    <div class="bf-main-background">
    <div class="col-sm bf-background">
        <h1 class=title>Crear usuario</h1>
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nombre" />

          <input type="text" class="form-control" placeholder="Apellido" />

          <input type="text" class="form-control" placeholder="Correo" />

          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
          />

          <input
            type="text"
            class="form-control"
            placeholder="Confirmar contraseña"
          />
        </div>

      </form>
      <div class="container form-buttons">
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-outline-danger" id="button-cancel">Cancelar</button>
          </div>
          <div class="col-sm col-2">
         
          </div>
          <div class="col-sm">
            <button type="button" class="btn btn-outline-info" id="button-accept">Aceptar</button>
          </div>
        </div>
      </div>
    
    </div>
  </div>
   
  </div>
</div>