<div class="background">
    <div class="bf-background" >
        <div class="container">
          <h1 class="title">Seleccionar plan de suscripción</h1>
        </div>
        <div class="opt-container">
            <div [ngStyle]="{'border-color': planID === plan.id ? '#3AAFA9' : '#DEF2F1' }" *ngFor="let plan of plans" (click)="suscribe(plan.id)" class="option">                     
                <h2 class="opt-title">{{plan.nombre}}</h2>
                <ul>
                    <li *ngFor="let des of plan.desList">{{des}}</li>
                </ul>
                <h1 class="opt-price">${{plan.precio}}</h1>
            </div>
        </div>        
        <div class="button">
          <button type="submit" class="btn btn-outline-primary" (click)="saveSuscription()">Continuar con método de pago</button>
        </div>
    </div>
</div>