<div class="background">
  <div class="form-container container">
    <div class="col-sm bf-background">
      <h1 class="title">Recurso</h1>
      <form>
        <div class="form-group">
          <div class="image-container"></div>
          <label class="form-label">Nombre: </label>

          <label class="form-label">Url: </label>

          <label class="form-label">Calificacion: </label>
          <label class="form-label">Cantidad de descargas: </label>

          <label class="form-label"> Dueño de recurso: </label>
        </div>
      </form>
      <div class="container form-buttons">
        <button type="button" class="btn btn-outline-info" id="button-accept">
          Descargar
        </button>
      </div>
    </div>
  </div>
</div>
