<div class="background">
    <div class="form-container container">
      <div class="col-sm bf-background">
          <h1 class="title">Desactivacion de cuenta</h1>
      
          <div class="label-div" >
            
            <label class="form-label">¿Esta seguro que desea desactivar su cuenta? </label>
  
          </div>
  
        <div class="container form-buttons">
            <div class="row">
              <div class="col-sm">
                <button type="button" class="btn btn-outline-danger" id="button-cancel">Cancelar</button>
              </div>
         
              <div class="col-sm">
                <button type="button" class="btn btn-outline-info" id="button-accept">Aceptar</button>
              </div>
            </div>
          </div>

      
      </div>
  
     
    </div>
  </div>
  