<div class="background">
    <div class="form-container container">
      <div class="col-sm bf-background">
        <h1 class="title">Recursos descargados</h1>
        <form>
          <div class="form-group">

            <table class="table table-striped">
                <thead class="table-head">
                  <tr class="table-head">
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre de recurso</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Url</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Calificacion</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                  <tr>
                    <td>prueba</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tbody>
              </table>
              


          </div>
        </form>

      </div>
    </div>
  </div>
  