<div class="background">
    <div class="bf-background" >
        <div class="container">
          <h1 class="title">Configurar tarjeta de crédito o débito</h1>
        </div>
        <div class="form">
          <form>
              <div class="form-group input">
                <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Nombre">
              </div>
              <div class="form-group input">
                <input type="text" class="form-control" id="lastName" placeholder="Apellido">
              </div>
              <div class="form-group input">
                  <input type="text" class="form-control" id="cardNumber" aria-describedby="cardNumber" placeholder="Número de tarjeta">
              </div>
              <div class="form-group input">
                  <input type="text" class="form-control" id="expirationDate" aria-describedby="expirationDate" placeholder="Fecha de vencimiento (MM/AA)">
              </div>
              <div class="form-group input">
                  <input type="text" class="form-control" id="cvv" aria-describedby="cvv" placeholder="Código de seguridad (CVV)">
              </div>
              <div class="form-group input warning">
                  <small id="warn-text" class="form-text text-muted">
                    Al hacer clic en el botón Iniciar suscripción, aceptas que UPic
                    continuará tu suscripción de manera automática y que, hasta
                    que la canceles, te facturará el cargo mensual a través de la
                    forma de pago elegida. Puedes cancelar la suscripción en
                    cualquier momento para evitar cargos en el futuro.
                  </small>
              </div>
              <div class="button">
                <button type="submit" class="btn btn-outline-primary">Iniciar suscripción</button>
              </div>
          </form>            
        </div>
    </div>
</div>