.background {
    background-color: #F5F5F5;
    position: absolute;
    height: calc(100vh - 10vh);
    width: calc(100vw - 1px);
}

.bf-background{
    background-color: #FAFAFA;
    border: 4px solid #DEF2F1;
    border-radius: 10px;
    margin: 20px 34px 34px 20px;   
    width: calc(100vw - 3%);
    height: calc(100vh - 15vh);
}

.title {
    color: #17252A;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 28px;
    line-height: 24px;
    width: 800px;
    text-align: center;
    padding-left: 29%;
    padding-top: 20px;
  }

  .error {
    color: #F5676A;
    text-align: left;
  }
  
  .form{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: 20px;
  }

  .card, input{
    height: 48px;
    background-color: #DEF2F1;
    border: 1px solid #8492A6;
    border-radius: 15px;
    opacity: 0.56;
    font-size: 19px;
  }

  .stripe{
    margin-left: 340px;
    margin-right: 320px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  ::placeholder{
    opacity: 0.56;
    color: #2B7A78;
    font-family: Roboto Condensed;
    line-height: 36px;
    text-align: left;
    opacity: 1;
    font-weight: bold;
  }

  .input{
    text-align: center;    
    margin-left: 26%;
    padding: 5px;
    width: 623px;    
  }

  .button{
    padding: 20px;
    margin-left: 20px;
  }

  button{
    background-color: #FAFAFA;
    border: 2px solid #2B7A78;
    border-radius: 15px;
    color: #2B7A78;
    font-family: Roboto Condensed;
    line-height: 36px;
    width: 610px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
  }

  button:hover{
    background-color: #2B7A78;
    border: 2px solid #2B7A78;
    border-radius: 15px;
    color: #FAFAFA;
  }

  .warning{
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 15px;
  }