<div class="background">
  <div class="bf-main-background">
    <div class="data-container row">
      <h1>Información basica</h1>
      <div class="row data-container2">
        <label class="col1 subtitles">Nombre:</label>
        <label class="col2 data">{{ this.user?.nombres }} </label>
      </div>
      <div class="row data-container2">
        <label class="col1 subtitles">Email:</label>
        <label class="col2 data">{{ this.user?.email }} </label>
      </div>
      <div class="row data-container2">
        <label class="col1 subtitles">Imagen Perfil:</label>
        <div class="col2 data">
          <img
            class="image-contained rounded-circle"
            src="{{ this.user?.img }}"
          />
        </div>
      </div>
    </div>

    <div class="actions-div row">
      <h1>Acciones</h1>
      <div>
        <label class="subtitles ">
          <a routerLink="/user/deactivate-user"> Desactivar cuenta </a>
        </label>
 
        <label class="subtitles ">
          <a routerLink="user/password-reset"> Reinicio de contraseña </a>
        </label>
        <label class="subtitles "><a routerLink="../../subscription/change-subscription">Suscripciones </a></label>
        <label class="subtitles "><a routerLink="../../subscription/cancel-subscription">Cancelar suscripcion </a></label>
        <label class="subtitles "><a routerLink="../../payment/change-date">Metodo de pago </a></label>
      </div>
      
    </div>
  </div>
</div>
