/* Basic component Styles */
.background {
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vw;
    overflow: auto;
  }
  
  .bf-background {
    background-color: #fafafa;
    border: 4px solid #def2f1;
    border-radius: 10px;
    margin: 50px 30vw 20px 20vw;
    padding: 20px 10px 20px 40px;
    width: 70vw;
    height: 100%;
  }
  
  /* Form components styles */
  .form-container {
    font-size: 1vw;
  }
  
  .form-label {
    color: #2b7a78;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 22px;
    font-size: 1.1em;
    text-align: left;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5vh;
  }
  .data-label{
    line-height: 3vw;
    margin-left: 1vw;
    padding-left: 2vw;
  }
    /* Image */
  
  .image-container {
    background-color: #def2f1;
    border: 1px solid #8492a6;
    width: 13vw;
    height: 30vh;
    margin-bottom: 1.5vh;
    margin-left: 1.5vw;
  }
  .data-container {
    width: 18vw;
    height: 13vh;
    margin-bottom: 1.5vh;
    font-size: 1vw;
    padding-left: 1.5vw;
  }
  /* Actions */
.actions-div{
    margin-top: 8vh;
    font-size: 1vw;
    
}
  .col-sm{
    font-size: 1vw;
    margin-bottom: 4vh;
    width: 50%;
  }
  .col1{
    margin-left: 5vw;
    line-height: 2vw;
  }
  .col2{
    margin-left: 4vw;
    line-height: 2vw;
  }

  /* Links */
a{
    font-size: 1.1em;
}
    /* Title */
  .title {
    color: #17252a;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 4vh;
    line-height: 58px;
    width: 40vw;
    text-align: center;
    padding-left: 5vw;
    font-weight: bold;
    margin-bottom: 8vh;
  }
  /* Responsive */
  @media screen and (max-width: 969px) {
    .col-sm {
      width: 50%;
    }
    .col-2 {
      width: 0%;
    }
  }