<div class="background">
  <div class="form-container">
    <div class="bf-main-background">
      <div class=" bf-background">
        <h1 class="title">Perfil de usuario</h1>

        <div class="container">
          <div class="row">
            <div class="col-sm">
              <form>
                <div>
                  <div class="image-container rounded-circle">
                    <img class="image-contained rounded-circle" src={{this.user?.img}}>
                  </div>
                  <div class="data-container">
                    <label class="form-label data-label"
                      >Imagen de perfil
                    </label>

                    <label class="form-label data-label">Cerrar sesion </label>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm">
              <form>
                <div>
                  <div class="data-container">
                    <label class="form-label data-label">Nombre: {{this.user?.nombre}} </label>
                    <label class="form-label data-label">Email: {{this.user?.email}} </label>
                    <label class="form-label data-label"
                      >Tipo de suscripción
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="container actions-div">
          <div class="row">
            <div class="col-sm">
              <label class="form-label col1">
                <a class="form-label" routerLink="/user/edit-user">
                  Editar información
                </a></label
              >
              <label class="form-label col1">
                <a class="form-label" routerLink="/user/deactivate-user">
                  Desactivar cuenta
                </a>
              </label>
            </div>

            <div class="col-sm">
              <label class="form-label col2">
                <a class="form-label" routerLink="user/password-reset">
                  Reinicio de contraseña
                </a>
              </label>
              <label class="form-label col2">Suscripciones </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
