<div class="main-container">
  <div class="resources">
    <div class="row">
      <div *ngFor="let resource of data" class="col-sm1">
        <div class="image-container">Imagen</div>
        <div class="data-container row">
          <div class="resource-info col1">
            <label class="resource-label">{{resource.nombre}}</label>
            <label class="resource-label">{{resource.owner}}</label>
          </div>
          <div class="resource-plan col1">
            <label class="plan-label">{{resource.plan}}</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


