<!-- <div class="background">
  <div class="form-container">
    <div class="bf-main-background">
    <div class="col-sm bf-background">
      <h1 class="title">Todos los recursos</h1>

      <div class="container">
        <div class="row align-items-start">
          <div class="col-sm">
            <form>
              <div class="form-group">
                <div class="image-container"></div>
                <div class="data-container">


                  <label class="form-label">Nombre: </label>

                  <label class="form-label">Calificación: </label>
                  <label class="form-label">Cantidad de descargas: </label>      
                </div>
              </div>
            </form>
          </div>
        
          <div class="col-sm">
            <form>
              <div class="form-group">
                <div class="image-container"></div>
                <div class="data-container">


                  <label class="form-label">Nombre: </label>

                  <label class="form-label">Calificación: </label>
                  <label class="form-label">Cantidad de descargas: </label>      
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm">
            <form>
              <div class="form-group">
                <div class="image-container"></div>
                <div class="data-container">


                  <label class="form-label">Nombre: </label>

                  <label class="form-label">Calificación: </label>
                  <label class="form-label">Cantidad de descargas: </label>      
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm">
            <form>
              <div class="form-group">
                <div class="image-container"></div>
                <div class="data-container">


                  <label class="form-label">Nombre: </label>

                  <label class="form-label">Calificación: </label>
                  <label class="form-label">Cantidad de descargas: </label>      
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  </div>
</div> -->

<!-- <div class="background">
  <div class="form-container">
    <div class="bf-main-background">
    <div class="col-sm bf-background">
      <h1 class="title">Todos los recursos</h1>

      <div class="container">
        <div class="row align-items-start">
       
        
       
       
       
        </div>
      </div>
      
    </div>
  </div>
  </div>
</div> -->

<div class="main-container">
  <div class="resources">
  <div class="row">
    <div class="col-sm1">
      <div class="image-container">Imagen</div>
      <div class="data-container row">
        <div class="resource-info col1">
          <label class="resource-label">Nombre</label>
          <label class="resource-label">Dueño</label>
        </div>
        <div class="resource-plan col1">
          <label class="plan-label">Basic</label>
        </div>
      </div>
    </div>

    
    <div class="col-sm1">
      <div class="image-container">Imagen</div>
      <div class="data-container row">
        <div class="resource-info col1">
          <label class="resource-label">Nombre</label>
          <label class="resource-label">Dueño</label>
        </div>
        <div class="resource-plan col1">
          <label class="plan-label">Basic</label>
        </div>
      </div>
    </div>
    <div class="col-sm1">
      <div class="image-container">Imagen</div>
      <div class="data-container row">
        <div class="resource-info col1">
          <label class="resource-label">Nombre</label>
          <label class="resource-label">Dueño</label>
        </div>
        <div class="resource-plan col1">
          <label class="plan-label">Basic</label>
        </div>
      </div>
    </div>
    <div class="col-sm1">
      <div class="image-container">Imagen</div>
      <div class="data-container row">
        <div class="resource-info col1">
          <label class="resource-label">Nombre</label>
          <label class="resource-label">Dueño</label>
        </div>
        <div class="resource-plan col1">
          <label class="plan-label">Basic</label>
        </div>
      </div>
    </div>
    <div class="col-sm1">
      <div class="image-container">Imagen</div>
      <div class="data-container row">
        <div class="resource-info col1">
          <label class="resource-label">Nombre</label>
          <label class="resource-label">Dueño</label>
        </div>
        <div class="resource-plan col1">
          <label class="plan-label">Basic</label>
        </div>
      </div>
    </div>
  

  </div>
  
  
</div>
</div>