<div class="background">
    <div class="bf-background" >
        <div class="container">
          <h1 class="title">Cambiar plan de suscripción</h1>
        </div>
        <div class="opt-container">
            <div class="option">                     
                <h2 class="opt-title">Gratis</h2>
                <ul>
                    <li>Acceso a algunas imágenes</li>
                    <li>Calidad buena</li>
                    <li class="invisible"></li>
                </ul>
                <h1 class="opt-price">$0.00</h1>
            </div>
            <div class="option">                     
                <h2 class="opt-title">Plata</h2>
                <ul>
                    <li>Acceso a todas las imágenes</li>
                    <li>Calidad excelente</li>
                    <li>Acceso a algunos videos</li>
                </ul>
                <div class="form-group opt-price-cont">
                    <h1 class="opt-price">$0.00</h1>
                </div>
            </div>
            <div class="option">                     
                <h2 class="opt-title">Oro</h2>
                <ul>
                    <li>Acceso a todas las imágenes</li>
                    <li>Calidad excelente</li>
                    <li>Acceso a todos los videos</li>
                </ul>
                <div class="form-group opt-price-cont">
                    <h1 class="opt-price">$0.00</h1>
                </div>
            </div>
        </div>        
        <div class="button">
            <button type="submit" class="btn btn-outline-primary confirm">Confirmar</button>
            <button type="reset" class="btn btn-outline-danger cancel">Cancelar</button>
        </div>
    </div>
</div>
