<div class="background">
    <div class="bf-background" >
        <div class="container">
          <h1 class="title">Cambiar fecha de pago</h1>
        </div>
        <div class="form">
          <div class="input warning">
            <h3 class="warn">
              Tu suscripción  se encuentra actualmente 
              con fecha de pago día {{this.day}} de cada mes, pero
              puedes cambiarlo a cualquier día que sea
              de tu conveniencia.
            </h3>
          </div>
          <div class="input">
            <h3 class="warn">
              Nueva fecha de pago
            </h3>
          </div>
          <form>
            <div class="input">
              <select [(ngModel)]="this.newDay" [ngModelOptions]="{standalone: true}" class="form-control sel">
                <option *ngFor="let i of index">{{i}}</option>
              </select>              
              <h3 class="warn small">
                de cada mes
              </h3>
            </div>
            <div class="button">
              <button type="submit" (click)="submit()" class="btn btn-outline-primary">Confirmar</button>
            </div>
          </form>            
        </div>
    </div>
</div>