<div class="background">
    <div class="bf-background" >
        <div class="container">
          <h1 class="title">¿Está seguro de cancelar su suscripción?</h1>
        </div>
        <div>
          <div class="input">
            <h3 class="warn">
                Haz clic en “Completar cancelación” para poder seguir con el proceso de cancelación.
            </h3>
          </div>
          <ul>
              <li>La cancelación será efectiva al finalizar el actual periodo de facturación.</li>
              <li>Puedes reactivar tu suscripción cuando quieras.</li>
            </ul>
            <div class="input">
                <h3 class="warn center">
                    ¡Gracias por ser parte de la familia UPic!
                </h3>
            </div>
            <div class="button input">
                <button type="submit" (click)="cancelSubscription()" class="btn btn-outline-primary">Completar cancelación</button>
            </div>           
        </div>
    </div>
</div>