/* Var */
* {
  --text-multiplier: 0.7;
}
.background {
    background-color: #F5F5F5;
    margin-top: -10px;
    min-height: 90%;
    max-width: 100%;
    overflow: auto;
}

.bf-background{
    background-color: #FAFAFA;
    border: 4px solid #DEF2F1;
    border-radius: 10px;
    margin: 20px 34px 34px 20px;
    padding: 20px;    
    width: calc(100vw - 4%);
    height: 100%;
}

.title {
    color: #17252A;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: calc(3.5rem * var(--text-multiplier));
    line-height: 6vh;
    width: 78vw;
    text-align: center;
    padding-left: 3%;
    padding-top: 5vh;
  }

  .input{
    text-align: center;    
    margin-top: 3vw;
    margin-left: 3vw;
    padding: 1%;
    width: 78vw;    
  }

  .warn{
    color: #17252A;
    font-family: Roboto Condensed;
    padding-left: 17vw;
    padding-right: 10vw;
    line-height: 4vh;
    width: 78vw;
    text-align: justify;
    font-size: calc(2.6rem * var(--text-multiplier));
    font-weight: bold;
  }
  
  .center{
    text-align: center;
    padding-left: 20vw;
  }
  
  ul{
    margin-left: 25%;
  }
  
  li{
    color: #17252A;
    font-family: Roboto Condensed;
    font-size: calc(2.6rem * var(--text-multiplier));
    line-height: 4vh;
    width: 50vw;
    text-align: left;
    padding: 1%;
    padding-right: 5vw;
    font-weight: bold;
}


button{
  background-color: #FAFAFA;
  border: 2px solid #2B7A78;
  border-radius: 15px;
  color: #2B7A78;
  font-family: Roboto Condensed;
  line-height: 6vh;
  width: 40vw;
  text-align: center;
  font-weight: bold;
  font-size: calc(2.6rem * var(--text-multiplier));
}

.button{
    margin-top: 0%;
    padding: 2%;
    padding-left: 13vw;
}

button:hover{
  background-color: #2B7A78;
  border: 2px solid #2B7A78;
  border-radius: 15px;
  color: #FAFAFA;
}

  /* Responsive */
  @media screen and (max-width:1524px) {
    .warn,
    .title {
      width: 100%;
    }
    * {
      --text-multiplier: 0.5;
    }
    
  }
  @media screen and (min-width: 1500px) and (max-height: 1500px) {
  
    * {
      --text-multiplier: 0.8;
    }
  }